@font-face {
    font-family: myFont;
    src: url('fonts/fonde.otf');
}

@font-face {
font-family: myFont2;
src: url('fonts/Brown Sugar .ttf');
}

@font-face {
    font-family: myFont3;
    src: url('fonts/CerottaPersonalUseOnly-0vW5d.otf');
}

@font-face {
    font-family: myFont4;
    src: url('fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
      overflow-x: hidden;
}

body {
    background-color: #f4f4f4; 
    font-family: myFont;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-color: #fff; 
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #e0e0e0;
    top: 0;
    z-index: 1000;
}

.topnav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 2.5%;
    box-sizing: border-box;
}

.topnav a {
    color: #333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.topnav a:hover {
    background-color: #ECDFCC;
    color: #fff;
}

.topnav a.active {
    background-color: #f0ead6;
    color: #fff;
}

.intro-section {


max-width: 650px;   
 justify-content: flex-end;
    padding: 17px;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    font-family: Georgia;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.intro-section h1 {
    color: #333;
    font-family: myFont2;
    font-size: 45px;
    font-weight: 900;
    padding: 20px 20px;
    text-align: left;
}

 h2 {
    color: #000000;
    font-family: myFont2;
    font-size: 30px;
    font-weight: 900;
    padding: 20px 20px;
    text-align: left;
}



.intro p {
    font-size: 20px;
     font-family: myFont3;
    color: #292929;
    margin-bottom: 2rem;
}

.intro-section {
    padding: 200px 20px 60px 20px;
    text-align: center;
    display: flex;
}

.intro-section p{
    text-align: left;
    display: flex;
}

.task-box-1, 
.task-box-2,
.task-box-3,
.task-box-4,
.task-box-5 {

width: 500px;
height: 200px;
background-color: white;
color: black;
gap: 10px;
font-family: Georgia;
 display: flex;            
  justify-content: center;  
align-items: center; 
 box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

.task-box-1:hover, 
.task-box-2:hover,
.task-box-3:hover,
.task-box-4:hover,
.task-box-5:hover {
transform: translateY(-10px);
  transition: transform 0.3s ease;


}





.task-box-1, 
.task-box-2,
.task-box-3,
.task-box-4,
.task-box-5, h1{
font-size: 20px;
color: black;
padding: 0px;
text-align: center;
font-family: myFont;
justify-content: center;  
flex-direction: column;
align-items: center; 
font-weight: 800;


}

.task-box-1, 
.task-box-2,
.task-box-3,
.task-box-4,
.task-box-5,a{
font-size: 20px;
color: rgb(5, 61, 1);
text-decoration: none   ;
font-family: myFont;
padding: 5px;
align-items: center; 
font-weight: 800;


}


.tasks-B1-K1-section{

display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
padding: 100px;
}
.intro-section img {
  max-width: 650px;
  height: 400px;
  position: relative;
  right: -690px; 
  top: -220px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.tasks-B1-K2-section{

display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
padding: 50px}

.footer {
background-color: #000000;
  font-family: Georgia,serif;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.contact-form-section h1 {
    font-family: myFont2;
    color: #000000;
    font-size: 39px;
    text-align: center;
    padding: 53px 9px 31px 10px;
    opacity: 35%;
}
.container {
  display: flex;              
  justify-content: space-between; 
  align-items: center;        
  padding: 20px 40px;
}

.container > div {
  flex: 1;                  
  text-align: center;
}

.footer h1 {
  font-family: myFont3;
  color: #fff;
  font-size: 45px;
  margin: 0;
  text-align: left;
}


.container .footer-col a {
  font-family: myFont;
  color: #fff;
  text-decoration: none;
 font-size: 20px;
    margin: 10px;
  text-align: left;
}

.footer-col-1 {
  display: flex;               
  gap: 40px;                   
  justify-content: center;
  align-items: center;
}

.footer-col-1 a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-col-1 a:hover {
  color: #ddd;              
}

.footer-col-2 {
  text-align: right;
  color: #fff;
  font-size: 16px;
}

.footer h3 {
  font-family: myFont2;
  font-size: 20px;
  margin-bottom: 10px;
}
